# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
*.egg-info/
build/
dist/

# Rust
**/target/

# Env
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Tilt
.tilt_modules/
